<ion-content  class="bgImage">
  <div class="container_static">

    <ion-title class="title_static">Le bateau de Thibault</ion-title>
    <ion-img class="image_static" src='../assets/img/TIG.png'></ion-img>
    <ion-text class="font_text">06.63.99.99.78<br/></ion-text>
    <ion-text class="font_text">lebateaudethibault@gmail.com<br/></ion-text>
    <ion-text class="font_text">www.facebook.com/lebateaudethibault/<br/></ion-text>
    <div class="description_static">
      <ion-text>Qu'il est chaud le soleil<br>
    Quand nous sommes en vacances<br>
    Y a d' la joie, des hirondelles<br>
    C'est le sud de la France<br>
    Papa bricole au garage<br>
    Maman lit dans la chaise longue<br>
    Dans ce joli paysage<br>
    Moi, je me balade en tongs<br><br>
    Que de bonheur!<br>
    Que de bonheur!</ion-text>
    </div>
  </div>
</ion-content>
<div class="footer">
        <div class="footer_text">
          <ion-text>Powered by BTK Inc</ion-text>
        </div>
</div>
