<ion-content class="bgImage">
  <div class="infocom">
    <h1 class="namecom">Le bateau de Thibault</h1>
    <img class="descriptionImage" src='../assets/TIG.png'>
    <p class="telcom">06.63.99.99.78</p>
    <p class="mailcom">lebateaudethibault@gmail.com</p>
    <p class="facecom">www.facebook.com/lebateaudethibault/</p>
    <p class="aboutus">Qu'il est chaud le soleil<br>
    Quand nous sommes en vacances<br>
    Y a d' la joie, des hirondelles<br>
    C'est le sud de la France<br>
    Papa bricole au garage<br>
    Maman lit dans la chaise longue<br>
    Dans ce joli paysage<br>
    Moi, je me balade en tongs<br>
    Que de bonheur!<br>
    Que de bonheur!</p>
  </div>
</ion-content>
