<ion-header>
  <ion-toolbar>
    <ion-title>products</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content  class="bgImage">

  <div class="container">

  <ion-row id="button">
    <ion-item-sliding *ngFor="let item of category">
      <ion-button class="accueilButton" (click)="onProductClick(item)">
          <ion-img src="{{item.img}}" class="imgButton"></ion-img>
          <ion-text class="txtButton">{{item.name}}</ion-text>
          <ion-img src="{{item.img}}" class="imgButton"></ion-img>
      </ion-button>
    </ion-item-sliding>
  </ion-row>
  <ion-text class="myFooter">Powered by BTK Inc.</ion-text>
  </div>
</ion-content>