<ion-content class="bg-image">
  <div>
    <ion-row class="header">
      <ion-img
        (click)="toNavigateHome()"
        class="header-logo"
        src="../assets/img/homeLogo.png"
      ></ion-img>
      <ion-img class="header-img" src="../assets/img/navbarbg.png"></ion-img>
      <ion-img
        (click)="toNavigateCart()"
        class="header-logo"
        src="../assets/img/cartLogo.png"
      ></ion-img>
    </ion-row>
  </div>
  <div class="container">
    <div class="title-product">
      <ion-text>Choisissez vos produits</ion-text>
    </div>
    <ion-row id="button">
      <ion-item-sliding *ngFor="let item of category">
        <ion-button (click)="onProductClick(item)" class="accueil-button">
          <ion-img class="img-button" src="{{item.image_icon}}"></ion-img>
          <ion-text class="txt-button">{{ item.name }}</ion-text>
          <ion-img class="img-button" src="{{item.image_icon}}"></ion-img>
        </ion-button>
      </ion-item-sliding>
    </ion-row>
  </div>
</ion-content>
<div class="footer">
  <div class="footer-text">
    <ion-text>Powered by BTK Inc</ion-text>
  </div>
</div>
