<ion-content class="bgImage">
  <div>
    <ion-row class="header">
      <ion-img src="../assets/img/homeLogo.png" class="headerLogo" (click)="toNavigateHome()"></ion-img>
      <ion-img src="../assets/img/navbarbg.png" class="headerImg"></ion-img>
      <ion-img src="../assets/img/cartLogo.png" class="headerLogo" (click)="toNavigateCart()"></ion-img>
    </ion-row>
  </div>  
  <div class="container">
    <div class="title_product">
            <ion-text>Choisissez vos produits</ion-text>
        </div>
    <ion-row id="button">
      <ion-item-sliding *ngFor="let item of products">
        <div *ngIf="this.category==3">
          <div *ngIf="item.discount!=0">
          <ion-button class="accueilButton" (click)="addCart(item)">
            <ion-img src="../assets/img/poulpe.png" class="imgButton"></ion-img>
            <ion-text class="txtButton">{{item.name}}</ion-text>
            <ion-text class="priceButton">{{item.price}} €</ion-text>
          </ion-button>
          </div>
        </div>
        <div *ngIf="item.category==this.category">
          <ion-button class="accueilButton" (click)="addCart(item)">
            <ion-img src="../assets/img/poulpe.png" class="imgButton"></ion-img>
            <ion-text class="txtButton">{{item.name}}</ion-text>
            <div class="priceButton">
              <ion-text *ngIf="this.productInCart(item.name)">OK </ion-text>
              <ion-text>{{item.price}} €</ion-text>
            </div>
          </ion-button>
        </div>
      </ion-item-sliding>
    </ion-row>
  </div>
</ion-content>
<div class="footer">
        <div class="footer_text">
          <ion-text>Powered by BTK Inc</ion-text>
        </div>
  </div>