<ion-header>
  <ion-toolbar>
    <ion-title>recette</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="bgImage">

  <div class="container">

  <div class="title">
     <ion-text>Nos recettes</ion-text>
    </div>
    <div id="main">
      <div class="strong">
       <ion-text>Toutes les recettes du bateau de Thibault.</ion-text>
      </div>
      <div class="normalText">
        <ion-text> 06.63.99.99.78 <br> lebateaudethibault@gmail.com <br> www.facebook.com/lebateaudethibault</ion-text>
      </div>
    </div>

  <ion-row id="button">
    <ion-item-sliding *ngFor="let item of recettes">
      <ion-button class="accueilButton" (click)="onRecetteClick(item)">
          <ion-img src="{{item.img}}" class="imgButton"></ion-img>
          <ion-text class="txtButton">{{item.name}}</ion-text>
          <ion-img src="{{item.img}}" class="imgButton"></ion-img>
      </ion-button>
    </ion-item-sliding>
  </ion-row>
  <ion-text class="myFooter">Powered by BTK Inc.</ion-text>
  </div>
</ion-content>

