<ion-header>
  <ion-toolbar>
    <ion-title>recette</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="bgImage">

  <div id="container">

  <ion-row id="button">
    <ion-item-sliding *ngFor="let item of recettes">
      <ion-button class="accueilButton" (click)="onRecetteClick(item)">
          <ion-img src="{{item.img}}" class="imgButton"></ion-img>
          <ion-text class="txtButton">{{item.name}}</ion-text>
          <ion-img src="{{item.img}}" class="imgButton"></ion-img>
      </ion-button>
    </ion-item-sliding>
  </ion-row>
  </div>
</ion-content>

