<ion-content class="bg-image">
  <div class="container">
    <div class="title">
      <ion-text>Nos recettes</ion-text>
    </div>
    <div class="main">
      <ion-text
        ><strong>Toutes les recettes du bateau de Thibault<br /></strong
      ></ion-text>
      <ion-text
        >06.63.99.99.78 <br />
        lebateaudethibault@gmail.com <br />
        www.facebook.com/lebateaudethibault
      </ion-text>
    </div>
    <ion-row id="button">
      <ion-item-sliding *ngFor="let item of recettes">
        <ion-button (click)="onRecetteClick(item)" class="accueil-button">
          <ion-img class="img-button" src="{{item.image_icon}}"></ion-img>
          <ion-text class="txt-button">{{ item.name_short }}</ion-text>
          <ion-img class="img-button" src="{{item.image_icon}}"></ion-img>
        </ion-button>
      </ion-item-sliding>
    </ion-row>
  </div>
</ion-content>
<div class="footer">
  <div class="footer-text">
    <ion-text>Powered by BTK Inc</ion-text>
  </div>
</div>
