<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="bgImage">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">a</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">


    <div id="title">
     <strong>Je suis le titre</strong>
    </div>
    <div id="main">
     <strong>Je suis le contenu</strong>
    </div>
      <div id="button">
        <ion-button id="productButton" expand="block" (click)="toNavigate('products')">
          <ion-img src="../assets/img/poisson.png" class="imgButton"></ion-img>
          <ion-text class="txtButton">Produits et promotions</ion-text>
        </ion-button>   
      </div>
      <ion-row id="button">
        <ion-button class="myButton" (click)="toNavigate('bateau')">
          <ion-img src="../assets/img/ancre.png" class="imgButton"></ion-img>
          <ion-text class="txtButton">Bateaux</ion-text>
        </ion-button>
        <ion-button class="myButton" (click)="toNavigate('restaurant')">
          <ion-img src="../assets/img/restaurant.png" class="imgButton"></ion-img>
          <ion-text class="txtButton">Restaurants</ion-text>
        </ion-button>
      </ion-row>
      <ion-row id="button">
        <ion-button class="myButton" (click)="toNavigate('recette')">
          <ion-img src="../assets/img/recette.png" class="imgButton"></ion-img>
          <ion-text class="txtButton">Recettes</ion-text>
        </ion-button>
        <ion-button class="myButton" (click)="toNavigate('contact')">
          <ion-img src="../assets/img/poulpe.png" class="imgButton"></ion-img>
          <ion-text class="txtButton">Contact</ion-text>
        </ion-button>
      </ion-row>
    </div>
</ion-content>
