<ion-content class="bg-image">
  <div>
    <ion-row class="header">
      <ion-img
        (click)="toNavigateHome()"
        class="header-logo"
        src="../assets/img/homeLogo.png"
      ></ion-img>
      <ion-img class="header-img" src="../assets/img/navbarbg.png"></ion-img>
      <ion-img
        (click)="toNavigateCart()"
        class="header-logo"
        src="../assets/img/cartLogo.png"
      ></ion-img>
    </ion-row>
  </div>
  <div class="container">
    <div class="title-product">
      <ion-text>Modifiez la quantité en tappant sur chaque produit</ion-text>
    </div>
    <ion-row id="button">
      <ion-item-sliding *ngFor="let item of cart">
        <ion-button (click)="onProductClick(item)" class="accueil-button">
          <ion-img class="img-button" src="../assets/img/poulpe.png"></ion-img>
          <ion-text class="txt-button">{{ item[0].name }}</ion-text>
          <div class="price-button">
            <ion-text>{{ item[1] }} * {{ item[0].price }} €</ion-text>
            <ion-text>{{ item[0].price * item[1] }} €</ion-text>
          </div>
        </ion-button>
      </ion-item-sliding>
    </ion-row>
  </div>
</ion-content>
<div class="footer">
  <div class="footer-text">
    <ion-text>Powered by BTK Inc</ion-text>
  </div>
</div>
