<ion-header>
  <ion-toolbar>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title class="namecom">{{item.name}}</ion-title>
  <div class="namecom">
    <p>XXX YYY ZZZ/</p>
  </div>
    <p class="aboutus">Qu'il est chaud le soleil<br>
    Quand nous sommes en vacances<br>
    Y a d' la joie, des hirondelles<br>
    C'est le sud de la France<br>
    Papa bricole au garage<br>
    Maman lit dans la chaise longue<br>
    Dans ce joli paysage<br>
    Moi, je me balade en tongs<br>
    Que de bonheur!<br>
    Que de bonheur!</p>
  </div>
</ion-content>
